<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Campaign Member Details Results</h2>

<table border=1>
	<tr><th>Id</th><th>SF Id</th><th>Activity Name</th><th>Campaign Id</th>
		<th>Campaign Name</th><th>Activity Type</th><th>Activity Result</th></tr>
    <% results.forEach(function(r) { %>
        <tr>
        	<td><%= r.id %></td><td><%= r.sfid %></td><td><%= r.name %></td>
        	<td><%= r.CampaignID %></td><td><%= r.CampaignName %></td>
        	<td><%= r.ActivityType %></td><td><%= r.ActivityResult %></td>
        </tr>
    <% }); %>
</table>

</div>

</body>
</html>
